<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediscover the world</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">MAIN</a></li>
                <li><a href="/explore">INTERESTING PlASE</a></li>
            </ul>
        </nav>
        {% block welcome %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright © 1999-2020 Ctrip.com (Hong Kong) Limited. All rights reserved.<br>
            Site Operator: Ctrip.com (Hong Kong) Limited<br>
            Hong Kong Travel License No. 352367</p>
    </footer>
</body>
</html>