{% extends 'basic.html' %}
{% block main %}
    <form name="login" method="post" action="#">
        <h2>Login</h2>
<!--        <label for="">-->
<!--            Enter login:-->
<!--            <input type="text" name="username">-->
<!--        </label>-->
<!--        <label for="">-->
<!--            Enter password:-->
<!--            <input type="password" name="password">-->
<!--        </label>-->
        <input name="login" type="password" required placeholder="enter login"><br>
        <input name="password" type="password" required placeholder="enter password"><br>
        <button type="submit" name="submit">LOG IN</button>
    </form>        
{% endblock %}